.modstatus-approved,
.modstatus-rejected { /* Ajax action completed */
	text-decoration: line-through;
}

/* Disabled action link, e.g. "Reject" link for already approved rows */
.modlink-disabled {
	color: #c9c9c9;
	cursor: default;
	text-decoration: none ! important;
}

/* An icon to display the result of Ajax action */
.modicon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.modstatus-untouched .modicon {
	background-image: url( 'images/untouched16x16.png' );
}

.modstatus-processing .modicon {
	background-image: url( 'images/processing16x16.png' );
}

.modstatus-approved .modicon {
	background-image: url( 'images/approved16x16.png' );
}

.modstatus-rejected .modicon {
	background-image: url( 'images/rejected16x16.png' );
}

.modstatus-error .modicon {
	background-image: url( 'images/error16x16.png' );
}
