# Some third-party PHP libraries installed via Composer contain JavaScript files - don't check them.
**/vendor

# WebdriverIO configs
**/wdio.conf.js
**/wdio.conf.*.js

# Noone really uses this script (it's disabled by default, see $wgModerationUseAjax),
# so anything related to it is of low priority.
**/modules/ext.moderation.special.ajax.js
